/* Responsive design for the header, the logo and the header nav  */
@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 25px auto;
    }
    .booki_logo {
        position: relative;
        left: calc(100px - 10%);
        transform: translateX(-30%);
    }

    .header_nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .header_nav a::before {
        display: none;
    }
    .header_nav a::after {
        content: "";
        display: block;
        position: relative;
        width: 0%;
        height: 2px;
        background-color: #0065FC;
        transition: width 0.5s ease-in-out;
        transform: translate(-5%, -50%);
    }
    .header_nav a:hover::after {
        width: 110%;
        margin-right: 10px;
    } 
}
/* Responsive design for the search section  */
@media screen and (max-width: 585px) {
    .search_button {
        display: none;
    }
    .container_magnifier {
        display: block;
    }
    .search_input {
        width: 210px;
    }
}
/* Responsive design for the filters section  */
@media screen and (max-width: 1000px) {
    .filters_section {
        gap: 20px;
    }
}
@media screen and (max-width: 630px) {
    .filters_text {
        width: 100%;
        justify-content: flex-start;
    }
}