
header {
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 20px;
    margin : 25px auto;
    }
    .booki_logo {
    position : relative;
    left : calc(100px - 10%);
    transform : translateX(-30%);
    }
    .header_nav {
    display : flex;
    justify-content : space-evenly;
    align-items : center;
    width : 100%;
    }
    .header_nav a::before {
    display : none;
    }
    .header_nav a::after {
    content : "";
    display : block;
    position : relative;
    width : 0%;
    height : 2px;
    background-color : #0065FC;
    transition : width 0.5s ease-in-out;
    transform : translate(-5%,-50%);
    }
    .header_nav a:hover::after {
    width : 110%;
    margin-right : 10px;
    }
    @media screen and (max-width: 585px) {
    .search_button {
    display : none;
    }
    .container_magnifier {
    display : block;
    }
    .search_input {
    width : 210px;
    }
    }
    @media screen and (max-width: 1000px) {
    .filters_section {
    gap : 20px;
    margin-left : 20px;
    }
    }
    @media screen and (max-width: 630px) {
    .filters_text {
    width : 100%;
    justify-content : flex-start;
    }
    }
    @media screen and (max-width: 850px) {
    .most_popular_lodgings {
    width : 550px;
    }
    }
    @media screen and (max-width: 715px) {
    .marseille_lodging {
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 45px;
    }
    .lodging_choices {
    width : 100%;
    justify-content : center;
    order : 2;
    }
    .popular_card {
    margin : 10px auto;
    width : 94%;
    }
    .popular_card img {
    width : 200px;
    }
    .most_popular_lodgings {
    width : 100%;
    height : 650px;
    padding : 0;
    }
    .lodging_card {
    width : 47%;
    }
    }
    @media screen and (max-width: 615px) {
    .lodging_card {
    width : 500px;
    }
    }
    @media screen and (max-width: 580px) {
    .popular_card img {
    width : 150px;
    }
    }
    @media screen and (max-width: 350px) {
    .popular_card {
    width : 95%;
    }
    .popular_card img {
    width : 120px;
    }
    }
    @media screen and (max-width: 365px) {
    .popular_presentation {
    gap : 34px;
    margin : 5px 0 0 16px;
    }
    .popular_price, .popular_title {
    font-size : 14px;
    }
    }
    @media screen and (max-width: 1000px) {
    .activities_in_Marseille {
    display : flex;
    justify-content : flex-start;
    flex-wrap : wrap;
    }
    .two_columns_activities {
    flex-direction : row;
    width : 62%;
    }
    .two_columns_activities .activities_card {
    width : 300px;
    }
    .single_card {
    width : 30%;
    }
    .activities_in_Marseille img {
    height : 200px;
    }
    .parc_longchamp_card {
    margin-top : 0;
    }
    }
    @media screen and (max-width: 615px) {
    .activities_card {
    width : 100%;
    }
    .two_columns_activities {
    flex-direction : column;
    width : 100%;
    }
    .two_columns_activities .activities_card {
    width : 100%;
    }
    }
    @media screen and (max-width: 850px) {
    footer {
    flex-direction : column;
    gap : 25px;
    margin-left : 10px;
    }
    }
    @media screen and (max-width: 715px) {
    .global_container {
    margin : 0 13px;
    }
    } 