/* Variables Colors */
:root {
    --blue      : #0065FC; 
    --lightBlue : #DEEBFF; 
    --gray      : #F2F2F2; 
}
body {
    font-family : 'Raleway', sans-serif;
    background-color: white;
}
.global_container {
    margin      :  0px 35px ;
}
/* Design for the logo and the header on the top of the site */
header {
    display         : flex;
    justify-content : space-between;
    margin          : 25px 0px;
}
.booki_logo {
    width: 100px;
}
.header_nav {
    display     : flex;
    align-items : center;
    gap         : 20px;
    position    : relative;
    color       :black ;
}
.header_nav a {
    transition: color 0.5s ease-in-out;
}
/* Animation color in the link */
.header_nav a:hover {
    color: #0065FC;
}
/* Setting and animation of the stroke before the links */
.header_nav a::before {
    content: "";
    display: block;
    position: relative;
    top: -30px;
    width: 0%;
    height: 2px;
    background-color: #0065FC;
    transition: width 0.5s ease-in-out;
}
.header_nav a:hover::before {
    width: 100%;
} 

/* Slogan Section */
.slogan {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}
.slogan_title {
    color: black;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 26px;
}
.slogan_subtitle {
    font-size: 14px;
    color: #F2F2F2;
}

/* Search section */
.search_container {
    display: flex;
    margin: 20px 0px;
}
.icon_location_container {
    background-color: #DEEBFF;
    width           : 60px;
    height          : 40px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    border-radius   : 10px 0 0 10px;
}
.fa-location-dot {
    color: black;
    font-size: 20px;
    padding: 13px;
}
.search_input {
    outline: none;
    border: none;
    height: 40px;
    padding: 0px 12px;
    font-weight: 700;
    font-size: 18px;
}
.search_button {
    border-radius: 0 10px 10px 0;
    outline: none;
    border: none;
    background-color: var(--blue);
    height          : 40px;
    width: 120px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.container_magnifier {
    border-radius: 15px;
    background-color: var(--blue);
    height: 40px;
    width: 50px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: -40px;
    display: none;
}

.fa-magnifying-glass {
    font-size: 18px;
    color: white;
}

/* Filters Section */
.filters_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters_section {
    display         : flex;
    flex-wrap       : wrap;
    gap             : 30px;
    font-size       : 18px;
    font-weight     : 700;
    margin-bottom   : 30px;
    cursor          : pointer ;
}
/* Every pill containing spans and icons */
.filter_container {
    display         : flex;
    justify-content : flex-start;
    align-items     : center;
    flex-wrap       : wrap;
    width           : 220px;
    padding         : 0px 20px;
    height          : 50px;
    border          : 2px solid grey;
    border-radius   : 20px;
}
/* Animation launched on the hover */
@keyframes hover {
    
    to {
        border: 0px;
        background-color: #0065FC;
        transform: scale(1.1);
    }
}
.filter_container:hover {
    animation       : hover 1s ease forwards;
}

/* Fonteawsome icons */
.icon_container {
    display: flex;
    justify-content: flex-start;
    transform: translateX(-30px);
}
.filter_icon {
    border          : 1px solid rgb(240, 220, 240);
    padding         : 14px;
    border-radius   : 55%;
    background-color: rgb(240, 220, 240);
    color           : var(--blue);
}
/* Animation launched on the hover */
.filter_icon:hover {
    animation: icon_hover 1s ease forwards;
}
@keyframes icon_hover {
    
    to {
        color: white;
    }
}
.filters_span {
    font-weight: 700;
    text-align: center;
}

/*  number of available dwellings  */
.lodging_availability {
    margin: 35px 0px;
    display: flex;
    gap: 25px;
}
.info_icon_container {
    display             : flex;
    justify-content     : center;
    align-items         : center;
    width               : 18px;
    height              : 10px;
    padding             : 15px;
    border              : 1px solid gray;
    border-radius       : 50%;
}
.fa-info {
    color               : var(--blue);
    font-size           : 13px;
}
.lodging_text {
    color               : black;
    font-size           : 14px;
    display             : flex;
    justify-content     : center;
    align-items         : center;
}

/* Marseille dwellings offer */
.lodging_marseille {
    font-weight: 900; 
    font-size: 22px;
    margin: 20px 0px;
}
.marseille_lodging {
    display         : flex;
    margin-bottom   : 70px;
}
.lodging_choices {
    width: 70%;
    gap : 25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.lodging_choices img {
    width: 95%;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: block;
    margin: 5px auto 0px;
    object-fit: cover;
}
.lodging_card {
    height: 320px;
    width: 250px;
    background-color: white; 
    border-radius: 15px;
    box-shadow: 0px 0px 0px 5px #ffffff;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
.lodging_card:hover {
    transform: scale(1.04);
}

.lodging_presentation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px 0px 15px
}

.lodging_name {
    font-weight: 700;
}

.blue_star {
    color: var(--blue);
}
.gray_star {
    color: #F2F2F2;
}
.black_star {
    color: black;
}

/* Most popular hostings section */
.most_popular_lodgings {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: rgba(243, 142, 221, 0.144);
    border-radius: 20px;
}
.popular_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 50px;
}
.popular_text {
    font-weight: 700;
    font-size: 20px;
}
.popular_text,
.black_star {
    align-self: center;
}
.popular_card {
    width: 410px;
    height: 170px;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px 0px 10px;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.popular_card:hover {
    transform: scale(1.02);
}

.popular_card img {
    width: 55%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: auto 0px auto 7px;
}
.popular_presentation {
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin: 5px 0px 0px 20px;
}
.title_subtitle_popular {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Marseille activities section */

.activities_in_Marseille{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    gap: 20px;
}
.activities_in_Marseille img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.two_activities_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.long_image {
    height: 410px;
}
.middle_image {
    height: 200px;
}
.little_image {
    height: 120px;
}
.activities_card {
    width: 22vw;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
.activities_card:hover {
    transform: scale(1.05);
}


.activities_text {
    background-color: rgb(255, 255, 250);
    height: 50px;
    margin-top: -4px;
    padding-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

/* Footer section */
footer {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}
.about_us_section, 
.lodging_section, 
.assistance_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer p {
    cursor: pointer;
}
footer p::after {
    content: "";
    display: block;
    position: relative;
    top: 1px;
    width: 0%;
    height: 1px;
    background-color: var(--blue);
    transition: width 0.5s ease-in-out;
}
footer p:hover::after {
    width: 100%;
}