/* Root Variables Colors */
:root {
    --blue : #0065FC;
    --lightblue : #DEEBFF;
    --gray : #F2F2F2;
    }

    body {
    font-family : 'Raleway', sans-serif;
    background-color : white;
    }

    .global_container {
    margin : 0 35px;
    }
    /* Header nav and logo */
    header {
    display : flex;
    justify-content : space-between;
    margin : 25px 0;
    }
    .booki_logo {
    width : 100px;
    }
    .header_nav {
    display : flex;
    align-items : center;
    gap : 20px;
    position : relative;
    }
    /* Animation on the hover for the links in the nav  */
    .lodging_link::before {
     content: "";
     display: block;
     position: relative;
     top: -37px;
     width: 0;
     height: 2px;
     transition: background-color 0.5s ease-in-out;
     background-color: #0065FC;
     transform: translateX(-10px);
    }
    .lodging_link {
        color: #0065FC;
    }
    .lodging_link:hover::before {
        width: 124%;
    }

    .activities_link:visited {
        color: black;
    }
    .activities_link:hover {
        color: #0065FC;
    }
    
    .activities_link::before {
        content : "";
        display : block;
        position : relative;
        top : -37px;
        width : 0%;
        height : 2px;
        transition: background-color 0.5s ease-in-out;
        background-color: #0065FC;
        transform: translateX(-7px);
        }

        .activities_link:hover::before {
            width : 137%;
            background-color: #0065FC;
            }

    /* Slogan Section */
    .slogan {
    display : flex;
    flex-direction : column;
    gap : 2px;
    margin-bottom : 10px;
    }
    .slogan_title {
    font-weight : 700;
    margin-bottom : 5px;
    font-size : 26px;
    }
    .slogan_subtitle {
    font-size : 14px;
    }
    /* Search Icon, Input and Button */
    .search_container {
    display : flex;
    margin : 20px 0;
    }


    .icon_location_container {
    background-color : #F2F2F2;
    width : 80px;
    height : 50px;
    display : flex;
    justify-content : center;
    align-items : center;
    border-radius : 10px 0 0 10px;
    }
    .search_container .fa-location-dot {
    padding : 13px;
    width: 50px;
    height: 50px;
    }
    .search_input {
    outline : none;
    height : 50px;
    width: 185px;
    padding : 0 12px;
    font-weight : 700;
    font-size : 18px;
    border-color: #7c75754b;
    }
    .search_button {
    border-radius : 0 10px 10px 0;
    outline : none;
    border : none;
    background-color : #0065FC;
    height : 50px;
    width : 130px;
    font-weight : 700;
    font-size : 18px;
    text-align : center;
    cursor : pointer;
    color : white;
    }
    /* Display none for the magnifier icon until 585 pixels */
    .magnifier {
        color: white;
        border-radius: 0px 15px 15px 0px;
        background-color: #0065FC;
        height: 50px;
        width: 60px;
        cursor: pointer;
        text-align: center;
        padding: 15px;
        display: none!important;
    }
    .filters_text {
    display : flex;
    justify-content : center;
    align-items : center;
    }
    /* Filters Section */
    .filters_section {
    display : flex;
    flex-wrap : wrap;
    gap : 30px;
    font-size : 18px;
    font-weight : 700;
    margin-bottom : 30px;
    cursor : pointer;
    }
    .filter_container {
    display : flex;
    justify-content : flex-start;
    align-items : center;
    flex-wrap : wrap;
    width : 240px;
    padding : 0 20px;
    height : 50px;
    border: 2px solid #d9d9d9;
    border-radius : 30px;
    }
    .icon_container {
    display : flex;
    justify-content : flex-start;
    transform : translateX(-18px);
    }

    .icon_container .fa-solid {
        background-color: #DEEBFF;
    border-radius: 100%;
    width: 3rem;
    min-height: 50px;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    margin-right: -2px;
    color: #0065FC;
    margin-right: 1rem;
    }
    .filter_icon {
    border : rgb(240, 220, 240) solid 0;
    border-radius : 55%;
    background-color : rgb(166, 207, 245);
    width: 25px;
    height: 25px;
    }
    .icon_container img {
        width: 42px;
        height: 43px;
        z-index: 2;
        padding: 8px;
    }
    .filters_span {
    font-weight : 700;
    text-align : center;
    }
    /* Hoover animation on the filters */
    @keyframes hover {
        to {
        border : 0;
        background-color : #0065FC;
        color : whitesmoke;
        transform : scale(1.1);
        }
         }
        .filter_container:hover {
        animation : hover 1s ease forwards;
        }
    /* Number of hostings available in Marseille  */
    .lodging_availability {
    margin : 35px 0;
    display : flex;
    gap : 25px;
    }
    .info_icon_container {
        height: 2rem;
        width: 2rem;
        min-height: 2rem;
        min-width: 2rem;
        border: solid 1px #d9d9d9;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        color: #0065FC;
    }
    .info_icon_container img {
        width: 20px;
        height: 20px;
    }
    .lodging_text {
    color : black;
    font-size : 14px;
    display : flex;
    justify-content : center;
    align-items : center;
    }
    .hostings_container {
    width: 100%;
    position: relative;
    transform: translateX(10px);
    }
    /* All the hostings availables in Marseille */
    .marseille_lodging a:visited, 
    .activities_in_Marseille a:visited {
        color: black;
    }
    .marseille_lodging {
    display : flex;
    margin-bottom : 70px;
    position : relative;
    gap : 20px;
    }
    .lodging_choices {
    width : 70%;
    gap : 25px;
    padding : 20px 13px 35px 15px;
    display : flex;
    flex-wrap : wrap;
    height : auto;
    border-radius : 20px;
    background-color: #0907073d;
    }
    .lodging_choices img {
    width : 95%;
    height : 200px;
    border-top-left-radius : 15px;
    border-top-right-radius : 15px;
    display : block;
    margin : 5px auto 0;
    object-fit : cover;
    }
    .lodging_card {
    height : 320px;
    width : 250px;
    background-color : white;
    border-radius : 15px;
    box-shadow: 0 0 16px #0000002e;
    transition : transform 0.5s ease-in-out;
    cursor : pointer;
    }
    /* Zoom Animation on every hosting card */
    .lodging_card:hover {
    transform : scale(1.04);
    }
    .lodging_presentation {
    display : flex;
    flex-direction : column;
    gap : 10px;
    margin : 10px 0 0 15px;
    }
    .lodging_name {
    font-weight : 700;
    }
    .blue_star {
    color : var(--blue);
    }
    .lodging_stars, 
    .popular_stars {
        display: flex;
        justify-content: flex-start;
        width: 40%;
    }
    .lodging_choices .fa_star, 
    .popular_stars   .fa_star {
        width: 13px;
        height: 13px;
    }
    /* Most popular hostings offers in Marseille */
    .most_popular_lodgings {
    width : 450px;
    height: 785px;
    display : flex;
    flex-direction : column;
    gap : 7px;
    border-radius : 20px;
    padding : 20px;
    background-color: #0907073d;
    }
    .popular_container {
    display : flex;
    justify-content : space-around;
    align-items : flex-end;
    height : 50px;
    }
    .popular_text {
    font-weight : 700;
    }
    .popular_text, .black_star {
    align-self : center;
    }
    .black_star {
        color: #d9d9d9;
    }
    .popular_star {
        align-self: center;
    }
    .popular_card {
    width : 325px;
    height : 170px;
    display : flex;
    background-color : rgb(255, 255, 255);
    margin : 20px auto;
    border-radius : 15px;
    box-shadow: 0 0 16px #0000002e;
    transition : transform 0.5s ease-in-out;
    cursor : pointer;
    }
      /* Zoom Animation on every hosting card */
    .popular_card:hover {
    transform : scale(1.02);
    }
    .popular_card img {
     width: 145px;
     height: 159px;
     object-fit: cover;
     aspect-ratio: 1/1;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     margin: auto 0 auto 5px;
    }
    .popular_presentation {
    display : flex;
    flex-direction : column;
    gap: 54px;
    margin : 5px 0 0 20px;
    }
    .title_subtitle_popular {
    display : flex;
    flex-direction : column;
    gap : 10px;
    }
      /* Activities Section in Marseille */
    .activities h2 {
    display : flex;
    justify-content : flex-start;
    padding : 0 0 20px 10px;
    }
    .activities_in_Marseille {
    display : flex;
    gap : 20px;
    padding: 25px;
    }
    /* The columns with two photos in the same place */
    .two_columns_activities {
    display : flex;
    flex-direction : column;
    gap : 20px;
    width : 65%;
    }
    .vieux_port_image, .parc_national_des_calanques_image {
    height : 470px;
    }
    .notre_dame_de_la_garde_image {
    height : 120px;
    }
    .fort_de_pomegues_image {
    height : 200px;
    }
    .parc_longchamp_image {
    height : 280px;
    }
    .iles_du_frioul_image {
    height : 205px;
    }
    .activities_in_Marseille img {
    width : 100%;
    object-fit : cover;
    border-top-left-radius : 15px;
    border-top-right-radius : 15px;
    }
    .activities_text {
    background-color : rgb(255, 255, 255, 0.4);
    height : 50px;
    margin-top : -4px;
    padding-left : 20px;
    border-bottom-left-radius : 15px;
    border-bottom-right-radius : 15px;
    font-weight : 700;
    display : flex;
    align-items : center;
    }
    /* Zoom Animation on the cards */
    .activities_card {
        transition: transform 0.5s ease-in-out;
        box-shadow: 0px 0px 2px 4px rgba(123, 123, 123, 0.4);
        border-radius: 15px;
    }
    .activities_card:hover {
    transform : scale(1.02);
    }
    /* Footer */
    footer {
    margin-top : 35px;
    padding : 30px 40px;
    display : flex;
    justify-content : space-between;
    background-color: #0907073d;
    }
    .about_us_section, .lodging_section, .assistance_section {
    display : flex;
    flex-direction : column;
    gap : 10px;
    }
    footer a {
    cursor : pointer;
    transition : text-decoration 0.5s ease-in-out;
    }
    /* Underline Animation on the hover of every link */
    footer a:hover {
    text-decoration : underline;
    }
    